# Prerequisites
NSIS/Plugins/x86-unicode/nsDuiSkin.exp
NSIS/Plugins/x86-unicode/nsDuiSkin.lib
NSIS/Plugins/x86-unicode/nsDuiSkin.pdb
MakeInstaller/.vscode
MakeInstaller/output
MakeInstaller/source/*.7z
MakeInstaller/FilesToInstall
NSIS/Plugins/amd64-unicode/libnswxskin.dll