// uac.rc
#include <winuser.h>

#define ID_MANIFEST 1
#ifndef RT_MANIFEST
#define RT_MANIFEST MAKEINTRESOURCE(24)
#endif

ID_MANIFEST RT_MANIFEST "require_administrator.manifest"

IDI_APP_ICON ICON "logo.ico"